* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  font-family: Open Sans, sans-serif;
}

.App {
  text-align: center;
}

img {
  width: 25%;
  height: 25%
}

div {
  display: block;
}

ul {
  list-style-type: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

nav {
  display: flex;
  align-items: center;
  min-height: 10vh;
  background: #387E54;
  color: white;
  text-transform: uppercase;
}

 nav > * {
   display: flex;
   margin: auto;
 }

 .navbar-links {
   margin: 10%;
 }

body {
  background: black;
}

.nav-link {
  color: white;
}

.review_container {
  width: 25%;
  height: 100%;
  display: flex;
}

.review_container > * {
  align-self: center;
  padding: 2% 15%;
}

.review_input {
  margin-bottom: 2px;
}

.frontpage-container {
  display: flex;
  width: 75%;
  margin: 20% auto;
  padding: 1rem;
}

.frontpage-item {
  background: #292C33;
  margin: 1%;
  flex: 1;
}

.frontpage-title {
  font-size: 1.875rem;
  text-transform: capitalize;
  color: white;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-weight: 700;
  margin: 0;
}

.frontpage-body {
  font-size: 1.25rem;
  color: grey;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}
