.App {
  text-align: center;
}

img {
  width: 200px;
  height: 300px;
}

ul {
  list-style-type: none;
}

nav {
  display: flex;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-link {
  color: white;
}
